<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uaf.pay.model.mapper.ConfigInfoMapper" >
  <resultMap id="BaseResultMap" type="com.uaf.pay.model.ConfigInfo" >
    <id column="UP_CONFIG_INFO_OID" property="upConfigInfoOid" jdbcType="DECIMAL" />
    <result column="INFO_KEY" property="infoKey" jdbcType="VARCHAR" />
    <result column="INFO_VALUE" property="infoValue" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    UP_CONFIG_INFO_OID, INFO_KEY, INFO_VALUE, DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from UP_CONFIG_INFO
    where UP_CONFIG_INFO_OID = #{upConfigInfoOid,jdbcType=DECIMAL}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
      select * from up_config_info 
  </select>
  
  <select id="getValueByKeyInfo" resultMap="BaseResultMap" parameterType="java.lang.String">
   select 
    <include refid="Base_Column_List" />
    from UP_CONFIG_INFO
    where INFO_KEY = #{infoKey,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from UP_CONFIG_INFO
    where UP_CONFIG_INFO_OID = #{upConfigInfoOid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.uaf.pay.model.ConfigInfo" >
    insert into UP_CONFIG_INFO (UP_CONFIG_INFO_OID, INFO_KEY, INFO_VALUE, 
      DESCRIPTION)
    values (#{upConfigInfoOid,jdbcType=DECIMAL}, #{infoKey,jdbcType=VARCHAR}, #{infoValue,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.uaf.pay.model.ConfigInfo" >
    insert into UP_CONFIG_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="upConfigInfoOid != null" >
        UP_CONFIG_INFO_OID,
      </if>
      <if test="infoKey != null" >
        INFO_KEY,
      </if>
      <if test="infoValue != null" >
        INFO_VALUE,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="upConfigInfoOid != null" >
        #{upConfigInfoOid,jdbcType=DECIMAL},
      </if>
      <if test="infoKey != null" >
        #{infoKey,jdbcType=VARCHAR},
      </if>
      <if test="infoValue != null" >
        #{infoValue,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uaf.pay.model.ConfigInfo" >
    update UP_CONFIG_INFO
    <set >
      <if test="infoKey != null" >
        INFO_KEY = #{infoKey,jdbcType=VARCHAR},
      </if>
      <if test="infoValue != null" >
        INFO_VALUE = #{infoValue,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where UP_CONFIG_INFO_OID = #{upConfigInfoOid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uaf.pay.model.ConfigInfo" >
    update UP_CONFIG_INFO
    set INFO_KEY = #{infoKey,jdbcType=VARCHAR},
      INFO_VALUE = #{infoValue,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where UP_CONFIG_INFO_OID = #{upConfigInfoOid,jdbcType=DECIMAL}
  </update>
</mapper>